[Unit]
Description={{ Description }}

[Service]
Type={{ Type }}
{% if ExecStartPre|length -%}
ExecStartPre={{ ExecStartPre }}
{% endif -%}
ExecStart={{ ExecStart }}
{% if ExecStartPost|length -%}
ExecStartPost={{ ExecStartPost }}
{% endif -%}
{% if ExecStop|length -%}
ExecStop={{ ExecStop }}
{% endif -%}
{% if ExecStopPost -%}
ExecStopPost={{ ExecStopPost }}
{% endif -%}
{% if ExecReload|length -%}
ExecReload={{ ExecReload }}
{% endif -%}
{% if RemainAfterExit == "yes" -%}
RemainAfterExit={{ RemainAfterExit }}
{% endif -%}

RestartSec={{ RestartSec }}
Restart={{ Restart }}

[Install]
WantedBy={{ WantedBy }}
